/AckleysFunction.class
/GeneralizedGriewankFunction.class
/GeneralizedPenalizedFunction1.class
/GeneralizedPenalizedFunction2.class
/GeneralizedRastriginsFunction.class
/GeneralizedRosenbrocksFunction.class
/GeneralizedSchwefelsProblem2_26.class
/QuarticFunction.class
/SchwefelsProblem1_2.class
/SchwefelsProblem2_21.class
/SchwefelsProblem2_22.class
/Sphere.class
/StepFunction.class
