/BCRBatchTests.class
/BFOBatchTests.class
/BitStringUtilsTests.class
/CFOBatchTests.class
/CSVLinesTest.class
/ExternaliseTests.class
/GCPBatchTests.class
/PSPBatchTests.class
/TSPBatchTests.class
/TestRandomPointInRange.class
