/EvaluationConvergenceStopCondition.class
/EvaluationsStopCondition.class
/GeneticSolutionEvaluatedStopCondition.class
/LackOfImprovementStopCondition.class
/RequestStopCondition.class
/RunTimeStopCondition.class
